body {
    margin:0;
    padding:0;
    font-family: Poppins, sans-serif;
    color: #545454;
}
*{
    box-sizing: border-box;
    
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.my-active-tabs{
    display:block
}


@media (prefers-color-scheme: dark) {

    * h1, h2, h3, h4, h5, h6, p, label{
        color: white;

    }
    input[type],textarea, select{
        background: #334155;
        color:white;
    }
    button{
        color:white
    }
    
    /* .day.dark-scheme {
      background: #333;
      color: white;
    }
    .night.dark-scheme {
      background: black;
      color: #ddd;
    } */
  }