body {
    margin:0;
    padding:0;
    font-family: Poppins, sans-serif;
    color: #545454;
}
*{
    box-sizing: border-box;
    
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.my-active-tabs{
    display:block
}